
/* Branding */

@media(min-width: 992px) {
  .brand {
    position: fixed;
    left: 24px;
  }
}


/* Index page styles */

.site {
  max-width: 768px;
  margin: 0 auto;
}

.actions {
  margin: 20px 0;
}
