<h1>
  Add a player
</h1>

<div>
  <label for="">
    Name
  </label>

  {{input value=name}}
</div>
<div>
  <!--<label for="">
    Email
  </label>-->

  {{!input value=email}}
</div>

<div>
  <button class="btn btn-primary" {{action 'add'}}>
    Add Player
  </button>
</div>
